@model Dugun_Davet.Models.Cevap
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CevapFormu</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">Cevap Formu</h5>
    <form asp-action="CevapFormu" method="post" class="m-2">
        <div asp-validation-summary="All"></div> @*validation hatası varsa gösterilmesi için kullanılır*@
        <div class="form-group">
            <label asp-for="Ad">Adınız:</label>
            <input asp-for="Ad" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Soyad">Soyadınız:</label>
            <input asp-for="Soyad" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email Adresiniz:</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Telefon">Telefon Numaranız:</label>
            <input asp-for="Telefon" class="form-control" />
        </div>
        <div class="form-group">
            <label>Düğüne Gelecek Misiniz?</label>
            <select asp-for="DuguneGelecekMi" class="form-control">
                <option value="">Lütfen bir seçim yapınız</option>
                <option value="true">Evet</option>
                <option value="false">Hayır</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Cevabı Gönder</button>
    </form>
</body>
</html>
