@model IEnumerable<Dugun_Davet.Models.Cevap>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Düğüne Katılanlar</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center p-2">
        <h3>Düğüne Gelenler</h3>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Email</th>
                    <th>Telefon</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Ad</td>
                        <td>@item.Soyad</td>
                        <td>@item.Email</td>
                        <td>@item.Telefon</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
