@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Merhaba</h1>
        <p>Düğün Davet Uygulamasına Hoşgeldiniz</p>
        <h4>Emre Banzaroğlu</h4>
        <br />
        <a class="btn btn-primary" asp-action="CevapFormu">Cevap Formu için tıklayınız</a>
    </div>

</body>
</html>


